target/

.idea/

obj/
bin/

*.csproj.user
*.csproj.vscode.json
*.csproj.vscode.settings.json
*.csproj.vscode.settings.json

*.sln.user
*.sln.vscode.json
*.sln.vscode.settings.json
*.sln.vscode.settings.json

*.sln.DotSettings
*.sln.DotSettings.user
*.sln.DotSettings.vscode.json
*.sln.DotSettings.vscode.settings.json
*.sln.DotSettings.vscode.settings.json


